body {
  font-family:"Bricolage Grotesque", sans-serif;
  font-size:0.9rem;
  line-height:1.69em;
  color:#5a6379;
}

h1, h2, h3, h4, h5, h6 {
  font-family:"Belanosima", serif;
  font-weight:normal;
  text-transform:uppercase;
  font-size:1.25rem;
  letter-spacing:0.04em;
  word-spacing:0.025em;
  text-align:center;
  color:#484f60;
}

p:first-child, 
h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child {
  margin-top:0;
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom:0;
}

#box-button-wrapper button {
  line-height:100%;
}

.sample-body-content {
  margin:50px auto;
  min-width:45vw;
  width:600px;
  max-width:85vw;  
}
