/*---- WARNING BOX CONTAINER ----*/
#warning-box {
  /* these first 6 lines make up the container overlay, and places the box in the center */
  position:fixed;
  top:0;left:0;
  width:100%;
  height:100vh;
  display:grid;
  place-items:center;
  
  backdrop-filter:blur(3px); /* background blur (optional) */
  z-index:100; /* increase this number if you can't see your box */
  
  /* next 2 lines are ESSENTIAL, don't remove */
  opacity:0;
  transition:opacity var(--Box-FadeIn-Speed) ease-in-out;
}

/* don't touch this section */
#warning-box.leave {
  transition:opacity var(--Box-FadeOut-Speed) ease-in-out;
}

/*---- WARNING BOX OVERLAY ----*/
#warning-box:before {
  content:"";
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  background-color:#ffffff; /* overlay color */
  opacity:60%; /* overlay opacity */
  z-index:-1; /* don't edit or remove */
}

/*---- WARNING BOX ----*/
#box-inner {
  min-width:45vw;
  width:600px;
  max-width:70vw;  
  
  background-color:#ffffff; /* box background color */
  padding:30px; /* box padding */
  border-radius:0.69rem; /* box corner roundness */
  box-shadow:10px 10px 38px rgba(0,0,0,15%); /* box shadow */
  
  box-sizing:border-box;
}

#box-text {
  margin-top:1.3rem;
  margin-bottom:1.3rem;
  
  max-height:50vh;
  overflow:auto;
  
  /* next 2 lines are for scrollbar adjustments */
  padding-right:13px;
  margin-right:-13px; /* this should be negative of the above value */
}

/*---- EXIT WARNING BOX BUTTON CONTAINER ----*/
#box-button-wrapper {
  display:grid;
  justify-content:center;
}

/*---- EXIT WARNING BOX BUTTON ----*/
#box-button-wrapper button {
  outline:none;
  border:none;
  
  padding-top:0.8rem;
  padding-bottom:0.8rem;
  padding-left:2rem;
  padding-right:2rem;
  
  background-color:#eceef3; /* exit button background color */
  border-radius:1.25rem; /* exit button corner roundness */
  
  /* exit button text styling: */
  font-family:"Poppins", sans-serif;
  font-size:0.8rem;
  text-transform:uppercase;
  letter-spacing:0.03em;
  color:#8681f9;
  
  cursor:pointer;
  
  /* smooth hover effect, except for when it's being tabbed */
  transition:all 0.25s ease-in-out, outline 0s linear, outline-offset 0s linear;
}

/* exit button: tabbed effect */
#box-button-wrapper button:focus-visible {
  outline:2px solid #8681f9;
  outline-offset:4px;
}

/* exit button: hover effect */
#box-button-wrapper button:hover {
  background-color:#635bff;
  color:#f6f6f6;
}
